.root {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    cursor: pointer;

    .illustration {
        display: flex;
        height: 50px;
        width: auto;
        margin-left: 5px;
    }
    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;

        .infoContainer {
            width: 20px;
            height: auto;
            align-self: center;
            padding-top: 10px;
        }
    }
}