@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;800&family=Cormorant+SC:wght@500&family=Press+Start+2P&display=swap');

.Nav {
    /* background: #e5e5e5; */
    /* background: #002855; */
    background: #0a1128;
    height : 15vh;
    width: 100vw;
    margin:0 auto;
    display: flex;
    justify-content: flex-start;
    position : fixed;
    top:0;
    z-index : 21;
    font-size: 1rem;
    align-items : center;
    
    /* border : 2px solid violet; */
}

.NavbarContainer {
    display : flex;
    justify-content : space-between;
    z-index: 1;
    height : 100%;
    /* padding : 24px 24px; */
    width : 100%;
    /* border : 2px solid blue; */
    align-items : center;
}

.NavMenu {
    height : 100%;
}

.Nav img {
    width : 50px;
    /* margin : 15px 15px; */
    /* border : 2px solid red; */
    align-items : center;
}

.NavLogo {
    justify-self : flex-start;
    cursor : pointer;
    font-size: 0.5rem; 
    height : 100%;
    display: flex;
    align-items : center;
    /* margin-left : 0; */
}

.NavItems {
    height : 100%;
    display : flex;
    padding : 0 0 0 0;
}

.NavLinks {
    color : #d9d9d9;
    display : flex;
    align-items : center;
    text-decoration : none;
    padding : 0 0.4rem;
    /* height : 100%; */
    cursor : pointer;
    font-family: 'Cairo';
    font-weight : 200;
    font-size: 1rem;
}

.DownloadResume {
    border-radius : 2px;
    padding : 10px 15px;
    background-color : #0a1128;
    color : #FF5C39;
    border : 1px solid #FF5C39;
    font-family: 'Cairo';
}

.DownloadResume:hover {
    transition : all 0.5s ease-in-out;
    background-color: #FF5C39;
    color : #0a1128;
}

@media screen and (max-width: 16000px) {
    .NavMenu {
        display : flex;
        align-items : center;
        list-style : none;
        text-align : center;
        /* border : 2px solid yellow; */
        /* margin-right : 15%; */
    }

    .NavLogo {
        margin-left : 5%;
        /* border : 2px solid violet; */
    }
    .mobileIcon {
        display : none;
    }

    .Nav img {
        width : 50px;
        /* margin : 50px 50px; */
        /* border : 2px solid red; */
        align-items : center;
    }
    .NavLinks:hover {
        transition : all 0.5s ease-in-out;
        color: #FF5C39;
        /* font-weight : bold; */
    }
    .Number {
        color : #FF5C39;
    }
    .ResumeContainer {
        /* position : absolute; */
        margin-right : 5%;
        /* border : 2px solid orange; */
    }

}

@media screen and (max-width: 825px) {
    .NavMenu, .ResumeContainer {
        display : none;
    }

    .mobileIcon {
        display : flex;
        position: absolute;
        right: 10%; 
        font-size : 2rem;
        cursor : pointer;
        color : #FF5C39;
        z-index: 11;
        align-items : center;
        /* border : 2px solid orange; */
    }

    .burger {
        /* border : 2px solid greenyellow; */
        align-items : center;
        /* padding-top : 6px; */
    }

    .Nav img {
        margin : 0 auto;
    }

    .NavbarContainer {
        padding : 0 0;
    }

    .NavLogo {
        margin-left : 10%;
    }
}



